<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>controlusuarios</servlet-name>
        <servlet-class>controlador.controlusuarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controlsalir</servlet-name>
        <servlet-class>controlador.Controlsalir</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controlsali</servlet-name>
        <servlet-class>controlador.Controlsalir</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controlbackup</servlet-name>
        <servlet-class>controlador.controlbackup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controlcompra</servlet-name>
        <servlet-class>controlador.controlcompra</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controlfactura</servlet-name>
        <servlet-class>controlador.controlfactura</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controlproducto</servlet-name>
        <servlet-class>controlador.controlproducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controltempcompra</servlet-name>
        <servlet-class>controlador.controltempcompra</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controlusuario</servlet-name>
        <servlet-class>controlador.controlusuario</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>controlusuarios</servlet-name>
        <url-pattern>/controlusuarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controlsalir</servlet-name>
        <url-pattern>/Controlsalir</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controlsali</servlet-name>
        <url-pattern>/Controlsali</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controlbackup</servlet-name>
        <url-pattern>/controlbackup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controlcompra</servlet-name>
        <url-pattern>/controlcompra</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controlfactura</servlet-name>
        <url-pattern>/controlfactura</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controlproducto</servlet-name>
        <url-pattern>/controlproducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controltempcompra</servlet-name>
        <url-pattern>/controltempcompra</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controlusuario</servlet-name>
        <url-pattern>/controlusuario</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <error-page>
        <error-code>404</error-code>
        <location>/error.jsp</location>
    </error-page>
</web-app>
